Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="-weight">Обратный Вес</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
</select>

Сортировать по типу:
<select ng-model="myTypeOrder">
    <option value="all">all</option>
    <option value="normal">normal</option>
    <option value="water">water</option>
    <option value="fire">fire</option>
    <option value="poison">poison</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | 
        filter: myQuery | 
        filter: typeFilter 
        | orderBy: myOrderProperty"
        ng-click="sayName($event, pokemon.name)"
        ng-class="setClass(pokemon.type[0])">
        <img src="{{pokemon.ThumbnailImage}}">

        <small>ID #{{pokemon.id }}</small>
        <h1>{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
   
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>